/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{background-color: black;}


.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.7;
}

.form-side {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: clamp(80px, 12vw, 120px);
  height: auto;
  z-index: 10;
}

.form-container {
  width: 80%;
  max-width: 380px;
  text-align: center;
}

.user-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  letter-spacing: 0.2vw;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
}

.input-group i {
  color: #ccc;
  margin-right: 10px;
  font-size: 18px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

.btn.criar {
  background-color: transparent;
  color: white;
}

.btn.criar:hover {
  background-color: rgba(51, 42, 42, 0.2);
}

.btn.entrar {
  background-color: rgba(1, 104, 2, 0.7);
  border: none;
  margin-top: 10px;
  border: 1px solid white;
  color: white;
}

.btn.entrar:hover {
  background-color: rgb(2, 79, 3, 0.7);
}

@media (max-width: 900px) {
  .form-side {
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .background-img {
    filter: brightness(0.7);
  }

  .logo {
    width: 100px;
  }
}


